@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

/* index.css */
html,
body,
#root,
.app,
.content {
    height: 100%;
    width: 100%;
    font-family: 'Source Code Pro' , sans-serif;
}

.app{
    display: flex;
    position: relative;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background: #888;
}

::-webkit-scrollbar-track:hover{
    background: #555;
}

html{
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
  margin: 0;
  padding: 0;
}

.background{
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
  background-image: url(./images/background.jpg);
  box-shadow: inset 0px 0px 0px 2000px rgba(0, 0, 0, 0.5);
}

.list {
  margin-top: 100vh;
  height: 35vh;
  background-size: cover;
  background-color: transparent;
  color: white;
}

.aboutus {
  margin-top: 100px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  height: 35vh;
  text-align: center;
  background-size: cover;
}

.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-button {
  width: 100%;
}

Form {
  width: 18%;
  background-color: transparent;
  border-radius: 10px;
  margin: 250px auto !important;
}

.buttonstyle{
  background-color: #000000;
  color: #c5c6c7;
  width: 100px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

img{
  margin-top: 5px;
  max-width:  170px ;
  max-height: 330px ;
}

.cardStyle {
  width: 180px;
  height: 35vh;
  border-color: transparent;
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  background-color: transparent;
}

.titleStyle{
  color: white !important;
  text-align: center;
}

.button{
  scale: 1.5;
  background-color: green;
}





.cardDatVe{
}

.movielist{
  min-width: 100%;
  min-height: 100%;
  margin-top: 20vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 2fr);
  text-align: center;
  text-decoration: none !important;
}

.movielist h3{
  text-align: center;
  overflow-wrap: break-word;
  color: #fff;
}

.countpage{
  width: 100%;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
  padding: 10px;
  background-color: rgba(225, 225, 225, 0.6);
}

.movieInfo{
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(50%);
}

.movieInfoImage{
  scale: 2;
  transform: translate(-30%)
}

.movieInfoText{
  height: 50vh;
  background-color: transparent;
  border-bottom: none;
  border-top: none;
  border-right: none;
  border-radius: 0%;
  border-width: 2px;
}