@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter");

/* index.css */
html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Code Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-track:hover {
  background: #555;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

.background {
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
  background-image: url(./images/background.jpg);
  box-shadow: inset 0px 0px 0px 2000px rgba(0, 0, 0, 0.5);
}

.list {
  margin-top: 5vw;
  display: flex;
  flex-direction: column;
  row-gap: 2vw;
  color: white;
}

.aboutus {
  margin-top: 5vw;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  height: 25vw;
  background-size: cover;
}

.account-form {
  max-width: 20vw;
  background-color: transparent;
  border-radius: 10px;
  margin: 15vw auto !important;
}

.login-form-forgot {
  float: right;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-button {
  width: 100%;
}

.buttonstyle {
  background-color: #000000;
  color: #c5c6c7;
  min-width: 6vw;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoweb {
  max-width: 8vw;
}

img {
  max-width: 10vw;
  max-height: 30vh;
}

.cardStyle {
  width: 180px;
  height: 35vh;
  border-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.titleStyle {
  color: white !important;
  text-align: center;
}

.showcase {
  scale: 1.7;
  background-color: transparent;
  list-style: none;
  font-weight: 500;
  color: #777;
  overflow: hidden;
  list-style-type: none;
  width: 50%;
  /* Can be in percentage also. */
  /* height: auto; */
  /* margin: 0 auto; */
  padding: 15px;
  position: absolute;
  left: 510px;
  top: 160px;
}

.showcase li {
  padding-left: 50px;
  float: left;
  margin: 1px;
  /* text-align: center; */
  /* margin: 0 10px; */
}

.showcase li small {
  margin-left: 3px;
}

.seat {
  height: 13px;
  width: 13px;
  background-color: #777;
  display: inline-block;
  border-radius: 3px;
  color: #fff;
  font-size: 6.5px;
  font-family: "Inter";
  /* text-align: center; */
  padding-top: 1.95px;
}

.seat.selected {
  background-color: rgb(115, 115, 253);
}

.seat.occupied {
  background-color: #212224;
}

.cinema {
  scale: 2.5;
  width: 50%;
  margin: 0 auto;
  padding: 30px;
  /*perspective: 1000px; */
  /* margin: 150px 0 0 350px; */
}

.row .seat:nth-of-type(3) {
  margin-right: 10px;
}

.row .seat:nth-last-of-type(3) {
  margin-left: 10px;
}

.cinema .seat {
  margin-left: 2px;
}

.cinema .seat:not(.occupied):hover {
  transform: scale(1.2);
  cursor: pointer;
}

/* .totalprice {
  height: 1000px;
  width: 300px;
  margin-left: 1000px;
  
} */

/* .totalprice span {
    color: rgb(115, 115, 253);
} */

.selectseat_area {
  float: left;
  width: 50%;
}

/* .totalprice {
  float: left;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 1000px;
} */

/* test */
.redone {
  float: left;
  width: 75%;
  background-color: transparent;
  text-align: center;
  padding: 11% 0%;
  margin-top: 150px;
}

.blueone {
  float: left;
  width: 25%;
  max-height: 90vh;
  background-color: transparent;
  box-shadow: inset 0px 0px 0px 2000px rgba(0, 0, 0, 0.5);
  margin-top: 8vh;
}

.blueone ul {
  padding: 5px 0 0 0;
  list-style: none;
}

.blueone li {
  padding: 8%;
}

.totalprice {
  font-size: 22px;
}

.selectseatbutton {
  background-color: black;
  border-color: white;
  color: white;
}
.button {
  scale: 1.5;
  background-color: green;
}

.movielist {
  margin-top: 16vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 2fr);
  text-align: center;
  text-decoration: none !important;
}

.movielist img {
  min-width: 11vw;
  min-height: 30vh;
}

.movielist h3 {
  text-align: center;
  overflow-wrap: break-word;
  color: #fff;
}

.countpage {
  width: 100%;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
  padding: 10px;
  background-color: rgba(225, 225, 225, 0.6);
}

.movieSchedule {
  display: flex;
  row-gap: 20vw;
}

.schedule {
  row-gap: 4em;
}

.time {
  width: 100vh;
  height: 10vh;
  background-color: transparent;
  border-bottom: none;
  border-top: none;
  border-right: none;
  border-radius: 0%;
  border-width: 2px;
}

.movieInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(50%);
}

.movieInfoImage {
  scale: 2;
  transform: translate(-30%);
}

.movieInfoText {
  height: 50vh;
  width: 70vh;
  background-color: transparent;
  border-bottom: none;
  border-top: none;
  border-right: none;
  border-radius: 0%;
  border-width: 2px;
}

.movieName {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 0.8vw;
  background-color: rgba(0, 0, 0, 0.8);
}

.movieItem {
  max-width: 12.6vw;
  max-height: 35vh;
  transition: all 0.3s linear;
  user-select: none;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movieItem:hover {
  opacity: 1;
  transform: scale(1.1);
  z-index: 20;
}

.movieItem img {
  top: 0;
  left: 0;
  min-width: 12.6vw;
  min-height: 35vh;
}

.moveLeft {
  position: absolute;
  top: 30%;
  left: 0;
  z-index: 20;
  transform-origin: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100px;
  width: 50px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moveLeft:hover svg {
  opacity: 1;
  transform: scale(1.2);
}

svg {
  opacity: 0.7;
  font-size: 30px;
  transition: all 0.3s linear;
}

.moveRight {
  position: absolute;
  top: 30%;
  right: 0;
  z-index: 20;
  transform-origin: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100px;
  width: 50px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moveRight:hover svg {
  opacity: 1;
  transform: scale(1.2);
}

.ant-dropdown-menu {
  background-color: #1f2833 !important;
  width: 30em;
}

.ant-dropdown-menu-item {
  color: #ffffff !important;
  height: 3em;
  font-size: 20px !important;
  padding: 0 !important;
  padding-left: 2em !important;
}

.ant-input-disabled {
  color: #fff !important;
}

.ant-form label {
  color: #fff;
}

.ant-form-horizontal .ant-form-item-control {
  min-width: 25em;
}

.profile-form {
  max-width: 20vw;
  background-color: transparent;
  border-radius: 10px;
}

div.ant-row.ant-form-item-row {
  column-gap: 2em;
}

.AddNewItem .ant-btn {
  padding-bottom: 0;
  padding-top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ant-form-item-required {
  color: #000000 !important;
}

.ant-form-item-label > label {
  color: #ffffff !important;
}

.contact {
  align-items: baseline;
}

.aboutcinematick {
  margin-top: 7vw;
  display: flex;
  flex-direction: column;
  color: white;
}

.profilePage {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 20vh;
}

.historyTable{
  width: 40vw;
  background-color: transparent !important;
}
