img{
    margin-top: 5px;
    max-width:  170px ;
    max-height: 330px ;
}

.cardStyle {
    width: 180px;
    height: 35vh;
    border-color: transparent;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-color: transparent;
}

.titleStyle{
    color: white !important;
    text-align: center;
}