<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <div>
        <h1>{{ title }}</h1>
        <p>Trạng thái thanh toán: {{ result }}</p>
        <p>Mã đơn hàng: {{ order_id }}</p>
        <p>Số giao dịch: {{ vnp_TransactionNo }}</p>
        <p>Tên phim: {{ movie_name }}</p>
        <p>Tổng số vé: {{ num_of_ticket }}</p>
        <p>Suất chiếu: {{ schedule }}</p>
        <p>Vị trí ghế: {{ positions }}</p>
        <p>Số tiền thanh toán: {{ amount }}</p>
        <p>Mã Bill: {{ bill_code }}</p>
    </div>
</body>
</html>